body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --main-color: rgb(158, 53, 255);
  --input-focus: rgb(249, 242, 255);
  --hover-button: rgb(106, 37, 172);
  --head-color: rgb(107, 107, 107);
  --background-color: rgb(253, 250, 255);
  background-color: rgb(253, 250, 255);
}
