.forgot-password {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 120px;
  width: 300px;
}
.forgot-password h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--head-color);
  margin-bottom: 10px;
}
.forgot-password p {
  margin: 10px 0;
}
.forgot-password article {
  width: 100%;
}
.forgot-password article form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forgot-password article input {
  width: 100%;
}
.forgot-password article button {
  width: 100%;
  padding: 5px 30px;
  background-color: var(--main-color);
  border: none;
  outline: none;
  color: white;
  font-size: 1.1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 350px) {
  .forgot-password {
    width: 90%;
  }
  .forgot-password h3 {
    font-size: 1.5rem;
  }
  .forgot-password article button {
    font-size: 0.9rem;
  }
}
